.report-card {
    background-color: rgb(245, 245, 245);
    display: inline-flex;
  width: 20em;
  height: auto;
  border: 2px solid rgb(201, 200, 200);
  border-radius: .4em;
  flex-direction: column;
  padding: .6em;
  margin-right: 2em;
  margin-top: 1em;
  box-shadow: 0 4px 5px -5px grey;
}
.report-card:hover {
    cursor: pointer;
    border-color: rgb(87, 87, 87);
}
.report-card img{
    width: auto;
}
.report-card h3 {
    margin-top: 0.5em;
    margin-bottom: .3em;
    font-size: larger;
  }
  .report-card p {
    margin: 0.4em 0;
    font-size: large;
  }
  .report-card .bottom {
    margin-top: 1.5em;
    padding-top: 1em;
    border-top: 1px solid rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-content: last baseline;
  }