---
import "../global.css";
import WebpageLayout from "../layouts/WebpageLayout.astro";
---

<WebpageLayout title="2012 European Grand Prix">
  <h1>2012 European Grand prix</h1>
  <h2>Victory from 11th on the grid</h2>
  <h3>Schumacher's first podium since 2006</h3>
  <body>
    <img
      src="https://s.aolcdn.com/commerce/blogcdn/www.autoblog.com/media/2012/06/valencia2012-web06.jpg"
      alt="Start of the European Grand prix"
      class="Korea"
    />
    <p>
      At the start, Sebastian Vettel made a strong start and held onto first
      place. Lewis Hamilton made a poor start, but managed to hold onto second.
      Kimi Räikkönen made a good start, but was blocked by Pastor Maldonado, and
      then Romain Grosjean took Maldonado's third place. Kamui Kobayashi,
      meanwhile, sneaked into fourth place. Both Fernando Alonso and Felipe
      Massa also made good starts, both making up three places. Nico Rosberg and
      Jenson Button did the opposite, making poor starts; Rosberg fell to 11th,
      and Button finished the lap 13th.
    </p>
    <p>
      Vettel then drove away from a slow Hamilton at about two seconds a lap.
      Hamilton was being pressured by Grosjean. On lap 10, Charles Pic lost a
      bit of his front wing trying to overtake Narain Karthikeyan at turn 2, who
      was lucky to avoid a puncture. On lap 11, Grosjean attempted to pass
      Hamilton at turn 12, completing the move by turn 13. On lap 13, Alonso
      passed Nico Hülkenberg for 7th, and Räikkönen managed to pass Maldonado
      for fifth.
    </p>
    <p>
      Hamilton then pitted, as did Räikkönen, while Alonso passed Maldonado what
      had become third. On lap 15, Alonso pitted. On lap 16, both Vettel and
      Grosjean pitted, and after Grosjean got pass Rosberg and Paul di Resta,
      they were in first and second again, but the gap was about 20 seconds.
      Hamilton had held onto third after the pit stops, with Alonso in fourth
      after a few overtakes. Räikkönen was fifth, ahead of Maldonado.
    </p>
    <img
      src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2012/06/22/855187-20314589-2560-1440.jpg"
      alt="Image of Fernando in Valencia"
      class="Korea"
    />
    <p>
      On lap 27, Jean-Éric Vergne and Heikki Kovalainen collide, after Vergne
      pulls an overtake on Kovalainen, but then Vergne's right rear hits
      Kovalainen's front left, and the safety car is brought out as damage is
      shrewn all over the circuit. As a result, Vergne was forced to retire his
      Toro Rosso.
    </p>
    <p>
      After the restart on lap 34, Vettel held onto his lead, while Alonso
      managed to get past Grosjean. Kobayashi and Massa touched, leaving Massa
      with a puncture and Kobayashi was forced to retire his car with terminal
      suspension damage. Then on the run-up to turn 10, Vettel lost drive, with
      an alternator failure, and had to stop his car. This, amazingly, left
      Alonso in the lead from 11th on the grid.
    </p>
    <p>
      Alonso won the race, finishing six seconds ahead of Räikkönen, who in turn
      finished another six seconds ahead of Schumacher, who scored his first
      podium of his comeback. Schumacher was surprised when he heard of his
      third-place finish, since he was quite far down the order with only a few
      laps to go. Schumacher was followed by Webber. Hülkenberg came an
      impressive fifth, and Rosberg had managed to charge up to sixth place. He
      was followed by Di Resta, who was ahead of Button. Pérez scored two points
      for ninth. Maldonado completed the top ten.
    </p>
    <img
      src="https://i.ytimg.com/vi/j8Em2sC9tw8/maxresdefault.jpg"
      alt="Alonso waving the Spanish flag"
      class="Korea"
    />
    <p>
      The result left Fernando Alonso in the lead of the World Championship by
      20 points over Mark Webber.
    </p>
  </body>
</WebpageLayout>
