---
import WebpageLayout from "../layouts/WebpageLayout.astro"
---

<WebpageLayout title="Fernando Alonso Fanpage">
	<h1>Welcome to the official webpage made from and for the fans of Fernando Alonso</h1>
</WebpageLayout>