---
import "../global.css";
import WebpageLayout from "../layouts/WebpageLayout.astro";
---

<WebpageLayout title="2010 Korean Grand Prix">
  <h1>2010 Korean Grand prix</h1>
  <h2>Fifth win of the season for Fernando</h2>
  <h3>Championship lead retaken</h3>
  <body>
    <img src="https://cdn-cf-east.streamable.com/image/gdey5_1.jpg?Expires=1684100700&Signature=MOEnSeLEBWtg8L~bAqn7bQ5gSHeLgvLt31UbF6N3WEnkMttut5W2AK25QRADpJp~ktOQ-2AiFECr16V6wB4thAloYLHbaj23iRoPc352j0wKhPS4mE~WIBhOOj-bhpw6zuThoCxYuLvyFRA23sjnFVIqI4icSELZgVEgjN541FobSgoP41nHDmqDdzluPt7S061RdDJ7nOBAtfInGI6SFkIjDCmA4CKzi5xlP8hE7RBURAT1Ld9tpSyCKksnNZ2ksZbiMRXPnAksUw0R6OLSvSH4-7A9mtEtmgjk22y7YBpfS8crJENzweSiP60yEdCH17WLUxJx1fk-l--acVFtXw__&Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ" alt="Start" class="Korea">
    <p>
      Qualifying would see Sebastian Vettel beat teammate Mark Webber to pole
      position, while Alonso secured third for Ferrari. Lewis Hamilton was next
      up in fourth for McLaren-Mercedes, while the fifth man in the title fight,
      Jenson Button, would start from seventh.
    </p>
    <p>
      Heavy rain would plague race morning, with Felipe Massa, Bruno Senna and
      Timo Glock all sliding off the circuit but scrambling back on without
      damage. There would, however, be some late dramas for Alonso, after a
      water leak had to be hastily patched in the final hour before the race.
    </p>
    <p>
      The rain remained in the area as the field assembled on the grid, and
      after a ten minute delay it was announced that the race would start behind
      the Safety Car. The field duly pulled away to officially start the race,
      although after three laps it was decided that the conditions were too
      dangerous on the new track surface and the race was red flagged.
    </p>
    <p>
      The restart saw Vettel ease into an early lead ahead of Webber, while
      Schumacher pounced on Robert Kubica as the only immediate overtake in the
      top ten. Elsewhere Senna and Jarno Trulli both ran off circuit, before Nico
      Rosberg dived past Hamilton and Button failed to complete a lunge around
      the outside of Massa.
    </p>
    <p>
      The order settled once again, before Sébastien Buemi triggered another SC
      by losing control and hitting Timo Glock on lap 31. That intervention
      would see the majority sweep into the pits for intermediate tyres, with
      Alonso losing second to Hamilton after a slow stop.
    </p>
    <p>
      The restart would again see Vettel leap ahead, while Massa was instructed
      to drop his pace and allow Alonso to harass Hamilton without pressure from
      behind. The Spaniard duly sneaked past the Brit into the first corner as
      Hamilton ran wide, before sprinting away to challenge Vettel for victory.
    </p>
    <img src="https://motorsportmagazine.b-cdn.net/wp-content/uploads/2020/11/Sebastian-Vettels-smoking-Red-Bull-at-the-2010-Korean-Grand-Prix-800x450.jpg" alt="Vettel engine failure" class="Korea">
    <p>
      Light would fade drastically in the closing stages of the race, resulting
      in Vettel complaining to his team about light levels messing with his
      braking points. However, with a handful of laps to go that became
      academic, as an engine issue saw his pace collapse and ultimately cause
      him to retire, leaving Alonso in the lead. With that the race was run,
      with Alonso establishing a fourteen second lead over Hamilton as he swept
      to victory after almost three hours
    </p>
    <img src="https://maxf1.net/wp-content/uploads/2017/10/Korean-GP-F1-2020-race-parc-ferme-Alonso-Photo-Ferrari.jpg" alt="Fernando victory" class="Korea">
  </body>
</WebpageLayout>
