---
import "../global.css";
import WebpageLayout from "../layouts/WebpageLayout.astro";
---

<WebpageLayout title="2012 Malaysian Grand Prix">
  <h1>2012 Malaysian Grand prix</h1>
  <h2>Win under mixed conditions</h2>
  <h3>Alonso snatches an early lead of the championship</h3>
  <body>
    <img
      src="https://mysterio.yahoo.com/mysterio/api/2035824F3388F0C7B1ABBD9C1AE69813F989A5632D0792AFC382175D79E114E1/autoblog/resizefill_w660_h372;quality_80;format_webp;cc_31536000;/http://s.aolcdn.com/commerce/blogcdn/www.autoblog.com/media/2012/03/2012malaysiangp14.jpg"
      alt="Start of the malaysian grand prix"
      class="Korea"
    />
    <p>
      All drivers except the two HRT's began the race on the green banded
      intermediate tyre. The HRT team opted for the blue banded full wet tyres.
      Grosjean starting from 7th, made a good start and was third into turn 1.
      Schumacher and Grosjean made contact at turn 4 and both spun, losing
      several positions in the process and Grosjean eventually retired on lap 4
      after spinning into a gravel trap. On the first lap, turn 9 to 11 was
      almost completely dry but the rest of the track was very wet. Pérez
      stopped after the first lap to change to full wets in a move that would
      elevate him to an eventual podium scoring position. With almost all
      drivers having pitted onto full wets by laps 5, the pitwall radar was
      shown to read "the intensity will increase to 4 from time to time" meaning
      heavy rain was still to come.
    </p>
    <p>
      The safety car was deployed on the 7th lap, purely because of the heavy
      rain, and the race was suspended on lap 9. On lap 15, Jenson Button
      clumsily locked up the rear wheels and made contact with Karthikeyan,
      forcing him to pit again to change the front wing, ending his podium
      chances. Subsequently, he made up a few places but was unable to finish in
      the top 10. Alonso emerged from this as the new leader when he overtook
      Sergio Pérez on lap 16, a lead he only briefly relinquished with a lap 40
      pit stop. Rosberg was in fourth on lap 23 but slowly slipped backwards
      when his tyres overheated and he consequently pitted early for more
      inters.
    </p>
    <p>
      After being 7.795 seconds behind Alonso in 2nd, Pérez began to set
      consecutive fastest laps and was closing the gap to the leader. The
      forecast rain prevented most cars from changing to slicks when the track
      was dry. An image of Hamilton's front tyre revealed that drivers were
      essentially racing on slicks anyway as the intermediate tread had worn
      off.
    </p>
    <img
      src="https://www.fia.com/sites/default/files/5-f1-2012-malaysia.jpg"
      alt="Tyres image"
      class="Korea"
    />
    <p>
      By lap 39, Pérez had excellent pace and cut the gap to Alonso back down to
      1.339 seconds. Between laps 39 and 42 there was yet another round of pit
      stops, this time onto slick tyres. Alonso pitted on lap 40 while Pérez
      waited until the next lap. In that time Pérez, who prior to the pitstop
      had been within two seconds, now dropped to 7.180 seconds off Alonso.
      After the change to slicks, Pérez on the prime tyre, again consistently
      cut down on Alonso's (medium tyre) lead to within half a second.
    </p>
    <p>
      Alonso managed to maintain the Sauber driver behind him after he had a
      slight off some laps before the end, earning him his first victory of the
      season.
    </p>
    <img src="https://pbs.twimg.com/media/EtJGXnmXAAAp2B4.jpg" alt="Celebration" class="Korea">
  </body>
</WebpageLayout>
