---
import "../global.css";
import WebpageLayout from "../layouts/WebpageLayout.astro";
---

<WebpageLayout title="2010 Singapore Grand Prix">
  <h1>2010 Singapore Grand prix</h1>
  <h2>Fernando Alonso gets closer to the title</h2>
  <h3>His first and only Grand Chelem</h3>
  <body>
    <img
      src="https://4.bp.blogspot.com/_bXj8YzAIKQA/TKHvaCmI8bI/AAAAAAAAK90/HWZMJnz80CY/s1600/Start,4.jpg"
      alt="The start of the 2010 Singapore Grand prix"
      class="Korea"
    />
    <p>
      Alonso had aced qualifying to claim pole position for the race, beating
      Sebastian Vettel by half a tenth. Hamilton and his McLaren-Mercedes
      teammate Jenson Button would share the second row, while Championship
      leader Mark Webber would launch from fifth alongside Rubens Barrichello.
    </p>
    <p>
      The start of the race would see Alonso ease clear off the grid to claim
      the lead, surviving a lunge from Vettel into turn one to solidify his
      grip. Behind, Button attacked Hamilton and briefly laid claim to third,
      before the #2 McLaren managed to elbow its way back ahead, while
      Barrichello would slip to eighth.
    </p>
    <p>
      The early laps would see Felipe Massa make a very early swap to medium
      compound Bridgestones, as Alonso tried to escape Vettel. However, his
      escape would be halted by an appearance for the Safety Car as Liuzzi
      pulled off the circuit having slapped the wall, resulting in Webber making
      an early stop along with several others at the back of the field.
    </p>
    <img
      src="https://s2.dmcdn.net/v/9eBt71Vn_QJAqKi3A/x1080"
      alt="Vettel chasing Alonso"
      class="Korea"
    />
    <p>
      Alonso's break was a brief one, however, for Vettel would react as the
      pair began exchanging barrages of fastest laps. Their plan was to get
      enough of a gap over Webber as the Australian racer no longer had to stop,
      as behind Glock's Virgin-Cosworth was passed by a cluster of cars having
      briefly ran in the top ten.
    </p>
    <p>
      The rest of the stops would see Webber climb up to third behind the #4
      Ferrari and the sister Red Bull, as behind Kobayashi triggered a second
      safety car. The Japanese racer would try a lunge at Michael Schumacher
      into turn eighteen but instead crashed into the barriers, with Bruno Senna
      sliding into the barriers alongside him having failed to react fast
      enough.
    </p>
    <p>
      The restart would see Alonso again ease clear of Vettel, while Webber
      found himself struggling to keep Hamilton at bay, resulting in contact
      that left the Brit with a puncture and, ultimately, a retirement.
      Elsewhere, Schumacher would run into the back of Heidfeld with enough
      force to put the Sauber-Ferrari into the barriers, although there would be
      no interruption to proceedings. Heikki Kovalainen, meanwhile, would
      have a fire erupt at the back of his car, which he would extinguish
      himself after pulling aside on the start/finish straight. The final lap
      saw Vettel close right onto Alonso's tail, although the Spaniard would
      keep his lead through to the chequered flag.
    </p>
    <img src="https://d2xpg1khvwxlf1.cloudfront.net/production/images/original/39235-alonso-singapore-ferrari-ef54281a5b99d35b6a67319f3777d3dc.png" alt="Alonso with his trophy" class="Korea">
  </body>
</WebpageLayout>
